{% extends 'base/base.html' %}

{% block title %}Stock Item  List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">item</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row table-responsive text-nowra">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Item Receiving List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Supplier Name</th>
                                <th>Item Name</th>
                                <th>Batch No</th>
                                <th>Delivery No</th>
                                <th>Quantity</th>
                                <th>Unit Cost</th>
                                <th>Date Received</th>
                                <th>Date Expiry</th>
                                <th>Received By</th>
                                <th>Position</th>
                                <th>Document</th>
                                <th>Total Cost</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% if item %}
                            {% for item in item %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ item.supplier_name }}</td>
                                <td>{{ item.item_name }}</td>
                                <td>{{ item.batch_no }}</td>
                                <td>{{ item.delivery_no }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.unit_cost }}</td>
                                <td>{{ item.date_received }}</td>
                                <td>{{ item.expiry_date }}</td>
                                <td>{{ item.receivedBy }}</td>
                                <td>{{ item.position }}</td>
                                <td>{{ item.document }}</td>
                                <td>{{ item.total_cost }}</td>

                                
                         
                            </tr>
                            
                            {% endfor %}
                            {% else %}
                                <tr><td>No Item Received Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->
</div>
{% endblock content %}