{% extends 'base/base.html' %}
{% block title %}Job Card List{% endblock title %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        {% comment %} <h1>View Job Card</h1> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{% url 'create-new-item' %}">Add Item</a></li>
                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            {% comment %} <li class="active">List</li> {% endcomment %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
 <div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Item Id</th>
                                <th>Supplier Name</th>
                                <th>Item Name</th>
                                <th>Batch No</th>
                                <th>Delivery No</th>
                                <th>Quantity</th>
                                <th>Unit Cost</th>
                                <th>Total Cost</th>
                                <th>Date Received</th>
                                <th>Date Expiry</th>
                                <th>Received By</th>
                                <th>Position</th>
                                <th>Document</th>
                            </tr>
                        </thead>
<tbody>
    {% for job in object_list %}
    <tr>
        <td class="serial">{{ forloop.counter }}</td>
            <td>{{ item.supplier_name }}</td>
            <td>{{ item.item_name }}</td>
            <td>{{ item.batch_no }}</td>
            <td>{{ item.delivery_no }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.unit_cost }}</td>
            <td>{{ item.total_cost }}</td>
            <td>{{ item.date_received }}</td>
            <td>{{ item.expiry_date }}</td>
            <td>{{ item.receivedBy }}</td>
            <td>{{ item.position }}</td>
            <td>{{ item.document }}</td>
    </tr>
    <td></i><a style="color:brown" href="{% url 'view_item' item_id %}">View</a></td>
    <td><a style="color:blueviolet" href="{% url 'update-item' item.id %}">edit</a></td>
    <td><a style="color:crimson" href="{% url  'delete-item' item.id %}">delete</a></td>

    {% endfor %}
</tbody>
</table>
{% endblock content %}