{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Add Items{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        {% comment %} <h1>Dashboard</h1> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{% url 'item-list' %}">Item</a></li>
                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}

<div class="container pt-5">
    <form action="#" method="post" novalidate>
        {%  csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{field.label}}</label>
            {{ field|add_class:'form-control'}}
            {%  for error in field.errors %}
                <span class="help-block" >{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-success">
                <span class="glyhicon glyphicob-ok"><a href="{% url 'item-list' %}">Submit</a></span>
            </button>
            <a href="{% url 'dashboard' %}" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>
{% endblock  %}