{% extends 'base/base.html' %}

{% block title %}Job Card List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li><a href="{% url 'jobcard_new' %}">Job Card</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<!-- <div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Job Card List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">Id</th>
                                <th>customer </th>
                                <th>Job Type</th>
                                <th>Order_nO</th>
                                <th>contact</th>
                                <th>Date</th>
                                <th>Job Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if job %}
                            {% for job in job %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ job.customer}}</td>
                                <td>{{ job.job_type }}</td>
                                <td>{{ job.order_no }}</td>
                                <td>{{ job.contact }}</td>
                                <td>{{ job.date }}</td>
                                <td>{{ job.job_descritpion }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Job Card Data</td></tr>
                            {% endif %}   
                       </tbody>
                    </table>
                </div> 
            </div>
        </div> 
    </div>  
</div> -->
 <div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Job Card List </h4>
                <!-- <a href="{% url 'jobcard_new' %}">New Job Card</a> -->
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">Id</th>
                                <th>customer </th>
                                <th>Job Type</th>
                                <th>Purchase Order</th>
                                <th>Created Time</th>
                                <th>Created By</th>
                                <th>Modified At</th>
                                <th>Mpdified By</th>
                                <th>contact</th>
                                <th>Job Description</th>
                            </tr>
                        </thead>
<tbody>
    {% for job in object_list %}
    <tr>
        <td class="serial">{{ forloop.counter }}</td>
        <td>{{ job.customer}}</td>
        <td>{{ job.job_type }}</td>
        <td>{{ job.order_number }}</td>
        <td>{{ job.create_at }}</td>
        <td>{{ job.created_by }}</td>
        <td>{{ job.modified_time }}</td>
        <td>{{ job.modified_by }}</td>
        <td>{{ job.customer }}</td>
        <td>{{ job.contact }}</td>
        <td>{{ job.job_descritpion }}</td>
    </tr>
    <td><a style="color:brown" href="{% url 'jobcard_view' job.pk %}">view</a></td>
    <td><a style="color:blueviolet" href="{% url 'jobcard_edit' job.id %}">edit</a></td>
    <td><a style="color:crimson" href="{% url  'jobcard_delete' job.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>


{% endblock content %}